

.movie-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.movieImage {
    max-width: 75%;
    box-sizing: border-box;
    border-radius: 5%;
    border: 1px solid #000;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite {
    color: red;
  }

  .movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 15px;
    justify-content: center;
  }
  
  .movie-card {
    width: 90%;
    max-width: 300px;
    margin: 15px;
    background-color: #f2f2f2;
  }

  .movieTitle {
    font-family: 'Cinzel', serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #000;
}

.directorName {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #000;
}

  