h1, h2, p, .profileButtons {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #EDEDED;
}

h1 {
  font-family: 'Cinzel', serif;
  font-weight: 700;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
}

.info-container, form {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
}
